@font-face {
    font-family: 'poppins';
    src: url(../fonts/poppins-semibold.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'poppins';
    src: url(../fonts/poppins-medium.ttf);
    font-weight: 500;
}